/* sets the style of popup content*/
body {
    padding: 0px;
    background-color: white;
    border-radius: 20px;
}


#popup-display {
    width: 400px;
    height: 250px;
    background-color: white;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


#popup-error {
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
    margin: 5px;
    white-space: nowrap;
}


#empty-message {
    width: 140px;
    height: px;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

#timestamps-list {
    width: 400px;
    height: 185px;
    background-color: white;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

#timestamps-list::-webkit-scrollbar {
    width: 8px;
}

#timestamps-list::-webkit-scrollbar-thumb {
    background-color: lightgray; 
    border-radius: 10px;
}

#timestamps-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

#timestamps-list::-webkit-scrollbar-thumb:hover {
    background-color: #bebebe; 
}

#timestamps-list::-webkit-scrollbar-thumb:active {
    background-color: #a5a4a4; 
}

h1 {
    font-size:15px;
    font-weight: 500;
    margin: 10px;


}

h2 {
    font-size:14px;
    font-weight: 500;
}


#timestamps-list ul {
    list-style-type: none;
    padding: 1px;
    margin: 1px;
    border-radius: 5px;
  }
  
#timestamps-list li {
    display: flex;
    flex-direction: row;
}


#timestamps-list li .stampnote {
    margin-bottom: 5px;
    font-size: 14px; 
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 8px;
    box-shadow: 0 4px 8px #624c7566; 
    max-width: 280px;
    min-width: 280px;
}

#timestamps-list .timestamp {
    min-width: px;
    max-height: 16px;
    background-color: #b5b0de5e;
    border-radius: 30px;
    padding: 4px; 
    margin-right: 5px; 
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#timestamps-list .timestamp:hover {
    background-color: #d9d7ef; 
}

#timestamps-list .timestamp:active {
    background-color: #bebada; 
}



#timestamps-list .timestamp {
    position: relative;
}

/*
#timestamps-list .timestamp::before {
    content: 'jump to'; 
    position: absolute;
    pointer-events: none; 
    padding: 3px;
    border-radius: 6px;
    background-color: #333;
    color: #ffffff;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    top: -20px; 
    left: 50%; 
    transform: translateX(-50%); 
    white-space: nowrap; 
}


#timestamps-list .timestamp:hover::before {
    opacity: 1;
}
*/




#timestamps-list .annotation {
    margin-left: 10px; 
    word-break: break-word;
    text-align: left;
}


.delete-buttons {
    width: 24px;
    height: 24px;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 1000px;
    background-color: #ff94ad5e;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 12px;
    box-shadow: 0 4px 8px #732c2c6e; 
    transition: background-color 0.3s ease;
}

.delete-buttons:hover {
    background-color: #ffcbd7; 
}

.delete-buttons:active {
    background-color: #ffb1c3; 
}

.delete-buttons svg {
    vertical-align: middle;
}



.edit-buttons {
    width: 24px;
    height: 24px;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 1000px;
    background-color: #84c1ff5e;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 5px;
    box-shadow: 0 4px 8px #2a247c7a; 
    transition: background-color 0.3s ease;
}

.edit-buttons:hover {
    background-color: #badbff; 
}

.edit-buttons:active {
    background-color: #90c3fb;
}

.edit-buttons svg {
    vertical-align: middle;
}

.clear-button {
    width: 24px;
    height: 24px;
    padding: 0px;
    border: 0px;
    border-radius: 1000px;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 302px;
    transition: background-color 0.3s ease;
}

.clear-button:hover {
    background-color: #e5e5e5; 
}

.clear-button:active {
    background-color: #c5c5c5; 
}

.clear-button svg {
    vertical-align: middle;
}

#clearIcon {
    stroke: dimgrey;
    transition: stroke 0.3s ease;
}
/*
#clearIcon:hover {
    stroke: grey;
}

#clearIcon:active {
    stroke: dimgrey;
}*/


.undo-button {
    width: 24px;
    height: 24px;
    padding: 0px;
    border: 0px;
    border-radius: 1000px;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
}

/*
#undoIcon {
    stroke: darkgrey;
    transition: stroke 0.3s ease;
}
#undoIcon:hover {
    stroke: grey;
}

#undoIcon:active {
    stroke: dimgrey;
}*/


.undo-button:hover {
    background-color: #e5e5e5; 
}

.undo-button:active {
    background-color: #c5c5c5; 
}

.undo-button svg {
    vertical-align: middle;
}

#undoIcon {
    stroke: dimgrey;
    transition: stroke 0.3s ease;
}

.undo-button svg {
    vertical-align: middle;
}