/* sets the style of popup content*/
body {
    padding: 0px;
    background-color: white;
    border-radius: 20px;
}


#popup-display {
    width: 400px;
    height: 250px;
    background-color: white;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


#popup-error {
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
    margin: 5px;
    white-space: nowrap;
}


#empty-message {
    width: 140px;
    height: px;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

#timestamps-list {
    width: 400px;
    height: 185px;
    background-color: white;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

/* Custom scrollbar styles for WebKit browsers (Chrome, Safari) */
#timestamps-list::-webkit-scrollbar {
    width: 8px;
}

#timestamps-list::-webkit-scrollbar-thumb {
    background-color: lightgray; /* Adjust the color as needed */
    border-radius: 10px;
}

#timestamps-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

#timestamps-list::-webkit-scrollbar-thumb:hover {
    background-color: #bebebe; /* Adjust the hover color as needed */
}

#timestamps-list::-webkit-scrollbar-thumb:active {
    background-color: #a5a4a4; /* Adjust the hover color as needed */
}

h1 {
    font-size:15px;
    font-weight: 500;
    margin: 10px;


}

h2 {
    font-size:14px;
    font-weight: 500;
}

/* Styles for list items */
#timestamps-list ul {
    list-style-type: none;
    padding: 1px;
    margin: 1px;
    border-radius: 5px;
  }
  
#timestamps-list li {
    display: flex;
    flex-direction: row;
}


#timestamps-list li .stampnote {
    margin-bottom: 5px; /* Adjust margin as needed */
    font-size: 14px; /* Adjust font size for better readability */
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 8px;
    box-shadow: 0 4px 8px #624c7566; 
    max-width: 280px;
    min-width: 280px;
}

#timestamps-list .timestamp {
    min-width: px;
    max-height: 16px;
    background-color: #b5b0de5e;
    border-radius: 30px;
    padding: 4px; /* Adjust padding for button size */
    margin-right: 5px; 
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
        /*border-style: solid; 
    border-color: #f0eff2; 
    border-width: 2px;*/
}

#timestamps-list .timestamp:hover {
    background-color: #d9d7ef; /* Change color on hover */
}

#timestamps-list .timestamp:active {
    background-color: #bebada; /* Change color on click */
}

#timestamps-list .annotation {
    /* Add any additional styling for the annotation */
    margin-left: 10px; /* Add some space between timestamp and annotation */
    word-break: break-word;

}


.delete-buttons {
    width: 24px;
    height: 24px;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 1000px;
    background-color: #ff94ad5e;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 12px;
    box-shadow: 0 4px 8px #732c2c6e; 
    transition: background-color 0.3s ease;
}

.delete-buttons:hover {
    background-color: #ffcbd7; /* Change color on hover */
}

.delete-buttons:active {
    background-color: #ffb1c3; /* Change color on click */
}

.delete-buttons svg {
    vertical-align: middle;
}



.edit-buttons {
    width: 24px;
    height: 24px;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 1000px;
    background-color: #84c1ff5e;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 5px;
    box-shadow: 0 4px 8px #2a247c7a; 
    transition: background-color 0.3s ease;
}

.edit-buttons:hover {
    background-color: #badbff; /* Change color on hover */
}

.edit-buttons:active {
    background-color: #90c3fb; /* Change color on click */
}

.edit-buttons svg {
    vertical-align: middle;
}

.clear-button {
    width: 24px;
    height: 24px;
    padding: 0px;
    border: 0px;
    border-radius: 1000px;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 302px;
    transition: background-color 0.3s ease;
}

.clear-button:hover {
    background-color: #e5e5e5; 
}

.clear-button:active {
    background-color: #c5c5c5; 
}

.clear-button svg {
    vertical-align: middle;
}

#clearIcon {
    stroke: dimgrey;
    transition: stroke 0.3s ease;
}
/*
#clearIcon:hover {
    stroke: grey;
}

#clearIcon:active {
    stroke: dimgrey;
}*/


.undo-button {
    width: 24px;
    height: 24px;
    padding: 0px;
    border: 0px;
    border-radius: 1000px;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
}

#undoIcon {
    stroke: darkgrey;
    transition: stroke 0.3s ease;
}
#undoIcon:hover {
    stroke: grey;
}

#undoIcon:active {
    stroke: dimgrey;
}

.undo-button svg {
    vertical-align: middle;
}